@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html, body{
  box-sizing:border-box;
  margin:none;

}

body{
  background-image: url("https://www.kindpng.com/picc/m/444-4446663_television-tv-computer-pc-90s-pink-pinktumblr-gadget.png");
  background-repeat: repeat;
  background-size: 8%;
}

h1{
  font-family: 'Modak', cursive;
  font-size: 10vmin;
  text-align:center;
  color:#f25246;
  letter-spacing:0.1em;
  text-shadow:5px 5px #000000;
  font-style: italic;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:960px;
}

.folders{
  width: 1700px;
  height: 2000px;
  padding:none;
}


.place1{
  margin-top:-250px;
  /* margin-left:-px; */
}

.place2{
  margin-top:-1997px;
  margin-left:-14px;

}

.place3{
  margin-top:-1997px;
  margin-left:-35px;
}

.place4{
  margin-top:-1998px;
margin-left:-15px;
}

.place5{
  margin-top:-2000px;
  margin-left:5px;
  background: none;
}

/* pew profile pic */
.profile1{
border: 7px solid #3aa928;
 border-radius: 50%;
 padding: 5px;
 width: 50vmin;
}

/* pew outline */
.outline1{
  border: 7px solid #3aa928;
   border-radius: 9px;
   padding: 5px;
   width: 50vmin;
}

/* jeffree profile pic */
.profile2{
  border: 7px solid #bf3bdf;
   border-radius: 50%;
   padding: 5px;
   width: 50vmin;
}

/* maya profile pic */
.profile3{
  border: 7px solid red;
   border-radius: 50%;
   padding: 5px;
   width: 50vmin;
}

/* maya video outline */
.outline3{
  border: 7px solid red;
   border-radius: 9px;
   padding: 5px;
   width: 50vmin;
}
/* jeffree video outline */
.outline2{
  border: 7px solid #bf3bdf;
   border-radius: 9px;
   padding: 5px;
   width: 50vmin;
}

/* shane profile pic */
.profile4{
  border: 7px solid #5b176b;
   border-radius: 50%;
   padding: 5px;
   width: 50vmin;
}

/* shane video profile pic */
.outline4{
  border: 7px solid #1b3a12;
   border-radius: 9px;
   padding: 5px;
   width: 50vmin;
}

/* eva profile photo */
.profile5{
  border: 7px solid #9fc6ce;
   border-radius: 50%;
   padding: 5px;
   width: 50vmin;
}

.outline5{
  border: 7px solid #c7af36;
   border-radius: 9px;
   padding: 5px;
   width: 50vmin;
}

.logo{
  width:700px;
  height: 300px;
  transform: rotate(-20deg);
}

/* place of profile photo */
.place6{
margin-top:-150px;
  margin-left: 480px;
}

/* place of logo */
.place7{
  margin-left:190px;
  margin-top:-1550px;
}

/* video */
.place8{
  margin-left:310px;
  margin-top:-30px;
}

/* most popular video text */
.place9{
  margin-top:100px;
  margin-left:320px;
}

.subtitlesize{
font-size:40px;
}

/* color of most popular text */
.pewcolor{
  color:#3aa928;
}

/* color of marked info in infobox */
.pewcolor2{
  background-color:#c1490c;
  color:#3aa928;
}

/* size of the infobox */
.infosize{
  width:1200px;
  height:1000px;

}

/* inforbox placement */
.place11{
  width:1200px;
  height:800px;
  margin-left:650px;
  margin-top:-400px;
  /* width:500px;
  height:800px; */
}

.place10{
  margin-top:-850px;
  text-align:center;
  font-size:20px;
}

.place12{
  text-align: center;
  font-size:17px;
}

.commentposition{
  margin-top:-370px;
  margin-left:250px;
  width:400px;
  height:800px;
}

.commentsize{
  width:600px;
  height:150px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1550px;
}

.navbar1{
  display:flex;
  justify-content: center;
  margin-top:-1765px;
  margin-left:-160px;
}

.tabsize{
  width:150px;
  height:90px;
  padding-left:75px;
  padding-bottom: 80px;
  padding-top:-100px;
  transition: all 1s;
}

.tabsize:hover{
width:200px;
height:140px;

}


.starcolor{
  color:#bf3bdf;
}

.starcolor2{
  background-color:#bae8bb;
  color:#bf3bdf;
}

.mayacolor{
  color:red;
}

.mayacolor2{
  background-color:#242dd1;
  color:red;
}

.shanecolor{
  color:#5b176b;
}

.shanecolor2{
  background-color: black;
  color:#5b176b;
}

.evacolor{
  color:#b086c7;
}

.evacolor2{
  background-color:#c7af36;
  color:red;
}
